<div id="menu" class="hidden">
	<h3>yes!chef</h3>
	<% if current_user %>
	<ul>
		<li><a href="/recipes/new"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Recipe</a></li>
		<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
	</ul>
	<% else %>
		<h4 style="color:#f22613"> please login </h4>
	<% end %>
</div>

<div id="content">

	<!-- Navbar -->
	<div id="menubar">
		<div id="button">
			<i id="menu-button" href="#menu-button" class="fa fa-bars fa-2x menu-icon"></i>
		</div>
	</div>


		<% if current_user %>
		<h1> My Recipes</h1>
		<p><%=link_to "Add new", new_recipe_path %></p>
		<!-- <hr> -->
		<div class = "container-fluid">
			<table class = "table table-hover">
				<thead>
					<th class = "col-md-2"></th>
					<th class = "col-md-2">Dish Name</th>
					<th class = "col-md-2">Serving Size</th>
					<th class = "col-md-6">Description</th>
				</thead>

				<tbody>
					<% @recipes.each do |r| %>
					<!-- allows click on hover of recipe -->
					<tr onclick="window.location.href='<%= recipe_path(r) %>'">
						<td class = "col-md-2"><%= image_tag r.photo.url(:large) %></td>
						<td class = "col-md-2"><%= r.rName %></td>
						<td class = "col-md-2"><%= r.serving_size %></td>
						<td class = "col-md-6"><%= r.description.first(50) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>	
		</div>
		<% else %>
		<h1 id="error-body"> You are not logged in, please log in or sign up!</h1>
		<% end %>


	<!-- Content -->


</div>