<div id="bg"></div>

<div id="menu" class="hidden">
	<h3>yes!chef</h3>
	<% if current_user %>
	<ul>
		<li><a href="/recipeHome"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</a></li>

		<li><button type="button" data-toggle="modal" data-target=".recipe-modal"><i class="fa fa-pencil"></i>&nbsp;Edit Recipe</button></li>

		<li><span class="fa fa-trash-o">
			<%= link_to " Delete Recipe", recipe_path, class: "recipe-menu-link", method: :delete, data: {Confirm: "Your recipe will be permanently deleted"} %>
		</span></li>

		<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
	</ul>
	<% else %>
	<h4 style="color:#f22613"> please login </h4> <!-- Message if user is not logged in. FIX: should route to LANDING PAGE -->
	<% end %>
	<%= render "partials/recipe" %> <!-- Partial for new recipe modal -->
</div>

<div id="content">

	<!-- Navbar -->
	<div id="menubar">
		<div id="button">
			<i id="menu-button" href="#menu-button" class="fa fa-bars fa-2x menu-icon"></i>
		</div>
		<h3>Chef <%= current_user.firstname %></h3>
	</div>

	<div class="center-width">
		<div class="row">
			<div id="recipe_image" class="col-md-12">
				<p><%= @recipe.rName %></p>
				<%= image_tag @recipe.photo.url(:med), alt: "no image uploaded :(" %>
				<br>
				<h3>Serving Size: <%= @recipe.serving_size %></h3>
			</div>
		</div>

		<div id="recipe_details" class="row">
			<div class="col-md-6">
				<h3>Ingredients: </h3>
				<p><%= simple_format @recipe.ingredient %></p>
			</div>
			<div class="col-md-6">
				<h3>Directions: </h3>
				<p><%= simple_format @recipe.instruction %></p>
			</div>
		</div>
	</div>
</div>


