<!-- login form modal -->

<div class="modal fade login-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Log In to Yes!Chef</h4>
      </div>
      <div class="modal-body">
        <%= form_for :user, url: '/login' do |f| %>
        <div class="form-group">

          <div class="input-group formfield-space">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :email, hide_label: :true, placeholder: "Email Address", class: "form-control" %>
          </div><!-- LOGIN FORM FIELD: Email Address -->

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, hide_label: :true, placeholder: "Password", class: "form-control" %>
          </div><!-- LOGIN FORM FIELD: Password -->

        </div>

        <div class="modal-footer">
          <%=f.submit "Login", class: "btn btn-modal" %>
          <span class="loginFlash"><%= flash[:danger] %></span>
        </div><!-- Login button -->


        <% end %>      

      </div>
    </div>
  </div>
</div>