<!-- sign up form modal -->
<div class="modal show greenBg">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <h4 class="modal-title">Sign up for Yes!Chef</h4>
	    </div>
	    <div class="modal-body">
	    	<%= bootstrap_form_for(@user) do |u| %>
			<%=u.text_field :firstname, hide_label: :true, placeholder: "First name" %>
		    <%=u.text_field :lastname, hide_label: :true, placeholder: "Last name" %>
		    <%=u.email_field :email, hide_label: :true, placeholder: "Email" %>
		    <%=u.password_field :password, hide_label: :true, placeholder: "Password" %>
		    <%=u.password_field :password_confirmation, hide_label: :true, placeholder: "Confirm Password" %>
		    <%= u.submit "Join" %>
			<% end %>
	    	<br>
	    
	        <div class="modal-footer">
	          Already a chef? <a href="/login"> Login here!</a>
	        </div>
	   
	  </div>
	</div>
</div>