<!-- Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
     <!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="myModalLabel">Join</h4>
      </div>

    
      <div class="modal-body">

        <%= form_for @user do |u| %>
          <p><%= u.text_field :firstname, placeholder: "First name" %></p>
          <p><%= u.text_field :lastname, placeholder: "Last name" %></p>
          <p><%= u.email_field :email, placeholder: "Email" %></p>
          <p><%= u.password_field :password, placeholder: "Password" %></p>
          <p><%= u.password_field :password_confirmation, placeholder: "Confirm Password" %></p>
          <%= u.submit "Join", class: "buttonOverride" %>
        <% end %>
      </div>  
    </div>
  </div>
</div>
