<!DOCTYPE html>
<html>
<head>
  <title>yes!chef</title>
  <%= favicon_link_tag '/hat.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

	<%= yield %>

<script>
	$(document).ready(function(){

		$(".slide-menu-toggle").on("click", function(event){
			event.preventDefault();

			var menu = $('.slideout-menu');
			var menuWidth = $('.slideout-menu').width();

			menu.toggleClass('open');

			if(menu.hasClass('open')) {
				menu.animate({
					left: '0px'
				});
			} else {
				menu.animate({
					left: -menuWidth
				}, 250);
			}
		});
	});
</script>

</body>
</html>
