<!DOCTYPE html>
<html>
<head>
	<title>yes!chef</title>
	<%= favicon_link_tag '/hat.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>

<body>

	<%= yield %>

	<script>
		$(document).ready(function(){
			// toggles slide menu 
			$('#button').click( function() {
				if ($('#menu').hasClass('hidden')) {
					$('#menu').removeClass('hidden');
					showPopout();
				}
				else {
					$('#menu').addClass('hidden');
					hidePopout();
				}
			});
			//show menu function
			function showPopout() {
				$('#content').animate(
					{ left: $('#menu').width() }, 'fast', 
					function() {
						$('#button').html('<i id="menu-button" href="#menu-button" class="fa fa-times fa-2x menu-icon"></i>');
					}
					);
			}
			//hide menu function
			function hidePopout() {
				$('#content').animate(
					{ left: 0 }, 'fast', 
					function() {
						$('#button').html('<i id="menu-button" href="#menu-button" class="fa fa-bars fa-2x menu-icon"></i>');
					}
					);
			}
		});
	</script>

</body>
</html>
